.wrapper {
   
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  
  .typing-demo {
    margin-left:-20px;
    width: 28ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.5em;
    color:chocolate;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: white;
    }
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
 #color{
     background-color:white;
     height:400px;
 }
 .zoom {
    padding: 30px;
    transition: transform .2s;
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }
  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }